.loginContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, $os-secondary, $os-primary);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
  }

  .formsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .signinSignup {
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      width: 50%;
      display: grid;
      grid-template-columns: 1fr;
      z-index: 5;
      transition: 1s 0.7s ease-in-out;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 5rem;
      overflow: hidden;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      transition: 0.2s 0.7s ease-in-out;

      &.signinForm {
        z-index: 2;
      }
      &.signupForm {
        z-index: 1;
        opacity: 0;
      }

      .title {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #444;
        margin-bottom: 10px;
        gap: 1rem;
      }
      .inputField {
        max-width: 380px;
        width: 100%;
        height: 55px;
        background-color: #f0f0f0;
        margin: 10px 0px;
        border-radius: 55px;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 0.4rem;

        .icon {
          text-align: center;
          line-height: 55px;
        }

        input {
          background: none;
          outline: none;
          border: none;
          line-height: 1;
          font-weight: 600;
          font-size: 1.1rem;
          color: #333;

          &::placeholder {
            color: #aaa;
          }
        }
      }
    }
  }
}

.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0px;
  transition: 0.5s;

  &:hover {
    color: #4d83e2;
  }
}

.socialText {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialIcon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  border-radius: 50%;
  transition: 0.3s;

  &:hover {
    color: #4481eb;
    border-color: #4481eb;
    fill: #4481eb;
  }
}

.panelsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  z-index: 7;

  .content {
    color: #fff;
    transition: 0.9s 0.6s ease-in-out;
  }

  h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }

  p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }

  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

.leftPanel {
  padding: 3rem 17% 2rem 12%;
  pointer-events: all;
}

.rightPanel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.image {
  width: 100%;
  transition: 1.1s 0.4s ease-in-out;
}

.rightPanel .content,
.rightPanel .image {
  transform: translateX(800px);
}

//ANIMATION
.loginContainer.signupMode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.loginContainer.signupMode .leftPanel .image,
.loginContainer.signupMode .leftPanel .content {
  transform: translateX(-800px);
}

.loginContainer.signupMode .rightPanel .content,
.loginContainer.signupMode .rightPanel .image {
  transform: translateX(0px);
}

.loginContainer.signupMode .leftPanel {
  pointer-events: none;
}

.loginContainer.signupMode .rightPanel {
  pointer-events: all;
}

.loginContainer.signupMode .signinSignup {
  left: 25%;
}

.loginContainer.signupMode form.signinForm {
  z-index: 1;
  opacity: 0;
}

.loginContainer.signupMode form.signupForm {
  z-index: 2;
  opacity: 1;
}

.button {
  display: flex;
  padding: 0.8rem 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid $clr-gray400;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0px;
  gap: 1rem;
  transition: 0.5s;

  &:hover {
    background-color: #f57e02;
  }
}

.divider {
  width: 13rem;
  height: 0.2rem;
  border-radius: 1rem;
  background: #03396c;
  margin-bottom: 1rem;
}

@media (max-width: 870px) {
  .loginContainer {
    min-height: 800px;
    height: 100vh;
  }

  .loginContainer:before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .signinSignup {
    width: 100% !important;
    left: 50% !important;
    top: 75% !important;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }

  .panel .content {
    margin-right: 15%;
    transition: 0.9s 0.8s ease-in-out;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .image {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }

  .leftPanel {
    grid-row: 1 / 2;
  }

  .rightPanel {
    grid-row: 3 / 4;
  }

  .rightPanel .content,
  .rightPanel .image {
    transform: translateY(300px);
  }

  .loginContainer.signupMode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .loginContainer.signupMode .leftPanel .image,
  .loginContainer.signupMode .leftPanel .content {
    transform: translateY(-300px);
  }

  .loginContainer.signupMode .signinSignup {
    top: 50% !important;
    left: 50% !important;
  }

  //custom
  .signupForm {
    margin-top: -250px;
  }

  .signinForm {
    margin-top: -250px;
  }
}

// new forntend css
.login {
  display: flex;
  align-items: flex-start;
  width: 100%;

  @media (min-width: 767px) {
    height: 100vh;
  }

  @media (max-width: 767px) {
    padding: 30px 15px;
    flex-direction: column;
  }
}

.login__intro {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 588px;
  background: #49789b;
  color: #fff;

  @media (max-width: 991px) {
    flex-basis: 50%;
    min-width: 50%;
  }

  @media (max-width: 767px) {
    flex-basis: 100%;
    background: #fff;
    color: #505050;
    margin-bottom: 40px;

    svg {
      path {
        &:last-child {
          fill: #505050;
        }
      }
    }
  }

  p {
    font-size: 28px;
    text-align: center;
    padding: 0 98px;
    margin-top: 20px;

    @media (max-width: 991px) {
      padding: 0 20px;
    }

    @media (max-width: 767px) {
      padding: 0;
      font-size: 1.1rem;
    }
  }
}

.login__welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  flex-basis: calc(100% - 588px);

  @media (max-width: 991px) {
    flex-basis: 50%;
    min-width: 50%;
    padding: 0 20px;
  }

  .go_to_home {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 18px;
    color: #49789b;
    text-decoration: none;

    @media (max-width: 767px) {
      display: none;
    }
  }

  h1 {
    font-size: 48px;
    color: #49789b;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 0;
    }

    span {
      display: block;
      font-weight: 700;
    }
  }

  .terms_conditions {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      br {
        display: none;
      }
    }

    label,
    a {
      color: #505050;
    }

    label {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      font-size: 1.1rem;
      line-height: 1.222em;

      @media (max-width: 991px) {
        span {
          br {
            display: none;
          }
        }
      }

      input[type='checkbox'] {
        margin-top: 5px;
      }
    }

    a:hover {
      color: #49789b;
    }
  }

  .google_button_link {
    text-decoration: none;
  }

  .login_with_google {
    all: unset;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #505050;
    text-decoration: none;
    box-shadow: 0px 0px 10px #c4c4c4;
    padding: 13px 45px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s;

    &:disabled {
      background: #ddd;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

/* switch button */
.switch_button {
  position: relative;
  width: 411px;
  height: 47px;
  text-align: center;
  will-change: transform;
  cursor: pointer;
  transition: 0.2s ease all;
  margin: 0 0 48px;
  background: #fff;
  box-shadow: 0 0 10px #c4c4c4;
  border-radius: 5px;
  z-index: 197 !important;

  @media (max-width: 991px) {
    width: calc(100%);
  }

  @media (max-width: 767px) {
    width: 100%;
    margin: 30px auto;
  }

  &_case {
    width: 49%;
    height: 100%;
    background: none;
    border-radius: 30px;
    border: none;
    padding: 0;
    // font-size: 1.8rem;
    font-family: 'Montserrat', 'Helvetica';
    color: #c7c7c7;
    display: inline-block;
    position: relative;
    transition: 0.2s ease all;
    cursor: pointer;

    &:hover {
      background: initial;
      color: #c7c7c7;
    }

    &:focus {
      outline: none;
    }
  }

  .active {
    color: #fff;
    background-color: #49789b;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transition: 0.2s ease-out all;

    &_case {
      color: #fff;
    }
  }
}
