// new forntend css
.login {
  display: flex;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    height: 100vh;
  }

  @media (max-width: 768px) {
    padding: 30px 15px;
    flex-direction: column;
  }
}

.login__intro {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 588px;
  background: #49789b;
  color: #fff;

  svg {
    path {
      &:last-child {
        fill: white;
      }
    }
  }

  @media (max-width: 991px) {
    flex-basis: 50%;
    min-width: 50%;
  }

  @media (max-width: 768px) {
    flex-basis: 100%;
    background: #fff;
    color: #505050;
    margin-bottom: 40px;

    svg {
      path {
        &:last-child {
          fill: #505050;
        }
      }
    }

    .joinUsText {
      display: none;
    }
  }

  p {
    font-size: 28px;
    text-align: center;
    padding: 0 98px;
    margin-top: 20px;

    @media (max-width: 991px) {
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      padding: 0;
      font-size: 1.1rem;
    }
  }
}

.login__welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  flex-basis: calc(100% - 588px);

  @media (max-width: 991px) {
    flex-basis: 50%;
    min-width: 50%;
    padding: 0 20px;
  }

  .go_to_home {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 18px;
    color: #49789b;
    text-decoration: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  h1 {
    font-size: 48px;
    color: #49789b;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;

    @media (max-width: 768px) {
      font-size: 36px;
    }

    span {
      display: block;
      font-weight: 700;
    }
  }

  .terms_conditions {
    margin-bottom: 40px;

    @media (max-width: 768px) {
      br {
        display: none;
      }
    }

    label,
    a {
      color: #505050;
    }

    label {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      font-size: 1.1rem;
      line-height: 1.222em;

      @media (max-width: 991px) {
        span {
          br {
            display: none;
          }
        }
      }

      input[type='checkbox'] {
        margin-top: 5px;
      }
    }

    a:hover {
      color: #49789b;
    }
  }

  .google_button_link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      margin: 0rem 1rem;
      color: #505050;
    }
  }

  .login_with_google {
    all: unset;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #505050;
    text-decoration: none;
    box-shadow: 0px 0px 10px #c4c4c4;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.25s;
    margin-bottom: 1rem;

    &:disabled {
      background: #ddd;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

/* switch button */
.switch_button {
  position: relative;
  width: 411px;
  height: 47px;
  text-align: center;
  will-change: transform;
  cursor: pointer;
  transition: 0.2s ease all;
  margin: 0 0 48px;
  background: #fff;
  box-shadow: 0 0 10px #c4c4c4;
  border-radius: 5px;
  z-index: 197 !important;

  @media (max-width: 991px) {
    width: calc(100%);
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 30px auto;
  }

  &_case {
    width: 49%;
    height: 100%;
    background: none;
    border-radius: 30px;
    border: none;
    padding: 0;
    // font-size: 1.8rem;
    font-family: 'Montserrat', 'Helvetica';
    color: #c7c7c7;
    display: inline-block;
    position: relative;
    transition: 0.2s ease all;
    cursor: pointer;

    &:hover {
      background: initial;
      color: #c7c7c7;
    }

    &:focus {
      outline: none;
    }
  }

  .active {
    color: #fff;
    background-color: #49789b;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transition: 0.2s ease-out all;

    &_case {
      color: #fff;
    }
  }
}
