.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .header {
    font-size: 3rem;
    color: #505050;
  }
  .subHeader {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.82875rem;
  }
}
