.table {
  border-collapse: collapse;
  border: 1px solid $clr-gray300;
  background-color: white;
  text-align: left;
  overflow: hidden;

  .thead {
    border-bottom: 1px solid $clr-gray300;
  }
  .th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  .td {
    padding: 1rem 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .tbody {
    tr:hover {
      cursor: pointer;
      background: $clr-primary-hover !important;
      color: white;
    }
  }

  //color alternating rows
  .tr:nth-child(even) {
    background-color: $clr-gray150;
  }
}

//mobile view
@media screen and (max-width: 860px) {
  .table {
    border: none;

    .thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .tr {
      border: 1px solid #ddd;
      display: block;
      margin-bottom: 2rem;
      background: white !important ;
    }
    .td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
    .td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
