.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;

  ul {
    position: relative;
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 10px;
      background: #b3cde0;
      border-radius: 5px;
      z-index: -1;
    }
  }
}

.tab {
  &__item {
    position: relative;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 35px 18px;
      text-decoration: none;
      color: #b3cde0;
      transition: all 0.25s;

      &:hover {
        color: $os-primary;
      }

      @media (max-width: 767px) {
        padding: 8px 20px 18px;
      }
    }
  }

  &__active {
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 10px;
      background: $os-primary;
      border-radius: 5px;
    }

    a {
      color: $os-primary;
    }
  }
}
