.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  background: rgba(0, 0, 0, 0.66);
  left: 0;
  top: 0;

  &__dismiss {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    border: 0;
    opacity: 0.5;
    padding: 0;
    background: transparent;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      background: transparent;
      border-color: transparent;
    }

    span {
      width: 30px;
      height: 2px;
      background: #808080;
      display: block;
      transform: rotate(45deg);
      transform-origin: center;
      transition: all 0.25s;

      &::after {
        content: '';
        width: 30px;
        height: 2px;
        background: #808080;
        display: block;
        transform: rotate(90deg);
        transform-origin: center;
      }

      &:hover {
        background: #575555;

        &::after {
          background: #575555;
        }
      }
    }
  }

  &__inner {
    background: #fff;
    max-width: 600px;
    padding: 30px;
    border-radius: 5px;

    @media (min-width: 991px) {
      min-width: 515px;
    }

    @media (max-width: 767px) {
      width: 100%;
      max-width: 100%;
      height: 100%;
      padding-top: 60px;
    }
  }
}
