.services_wrap {
  background: $os-primary;
  padding: 90px 6.0625rem 99px;

  @media (max-width: 1024px) {
    padding: 3.75rem 15px;
  }

  @media (max-width: 767px) {
    padding: 3.75rem 0 10px;
  }

  .text__box_mobile {
    display: none;

    @media (max-width: 767px) {
      display: block;
      padding: 0 15px;
      margin-bottom: 118px;
    }
  }

  &__inner {
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;

    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }

  .services_items {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;

    @media (max-width: 767px) {
      gap: 3.125rem;
      flex-direction: column;
      margin-bottom: 3.75rem;
    }

    > div {
      flex: 1;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .features_wrap__thumbnail {
      text-align: right;

      @media (max-width: 767px) {
        text-align: center;
      }

      img {
        border: 1px dashed #ffd500 !important;
        border-radius: 5px;
        padding: 8px !important;
      }
    }
  }
}
