.services_wrap {
  padding: 38px 6.0625rem;

  @media (max-width: 767px) {
    padding: 3.75rem 0;
  }

  &__inner {
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;

    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }

  .services_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;

    @media (max-width: 767px) {
      gap: 3.125rem;
      flex-direction: column;
      margin-bottom: 3.75rem;
    }

    > div {
      flex: 1;

      @media (max-width: 767px) {
        width: 80%;
      }
    }
  }
}
