.services_wrap {
  background: #04396d;
  padding: 342px 0 97px;

  @media (max-width: 767px) {
    padding: 60px 0;
  }

  &__inner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 767px) {
      padding: 0 15px;
    }

    h2 {
      color: #fff;
      font-weight: 700;
      font-size: 48px;
      line-height: 1.229em;
      margin-bottom: 102px;

      @media (max-width: 767px) {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }
  }

  .services_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 198px;

    @media (max-width: 767px) {
      flex-direction: column;
      margin-bottom: 60px;
    }

    > div {
      flex: 1;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
