.container {
	// display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;

	&__table {
		align-self: center;
	}

	&__pagination {
		width: fit-content;
		margin-left: auto;
	}
}

.container__element_inner {
	width: 100%;
	padding: 25px;
	background: $clr-gray100;
}

.filterContainer {
	width: 100%;
	padding: 25px;
	background: #fff;

	.filterItems {
		display: flex;
		width: 100%;
		gap: 25px;
		margin-bottom: 20px;
	}
}
