button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $os-secondary;
  font-family: 'Montserrat', 'Helvetica';
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  border: 1px solid $os-secondary;
  border-radius: 10px;
  background: transparent;
  padding: 1rem 2rem;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.25s;
  text-decoration: none;

  &:hover {
    color: #fff;
    border-color: $os-primary;
    background: $os-primary;
  }

  &_fill_primary {
    background: $os-primary;
    border-color: $os-primary;
    color: #fff;

    &:hover {
      background: $os-secondary;
      border-color: $os-secondary;
    }
  }

  &_fill_secondary {
    background: $os-secondary;
    border-color: $os-secondary;
    color: #fff;

    &:hover {
      background: $os-primary;
      border-color: $os-primary;
    }
  }

  &_outline_secondary {
    color: $os-secondary-theme;
    border-color: $os-secondary-theme;

    &:hover {
      color: #fff;
      background: $os-secondary-theme;
    }
  }

  &_fill_white {
    background: #fff;
    border-color: #fff;
    color: $os-primary;

    &:hover {
      background: $os-secondary;
      border-color: $os-secondary;
      color: #fff;
    }
  }
}
