$clr-secondary: #f06292;
$clr-secondary-hover: #fce4ec;
$clr-secondary-dark: #ec407a;

/*   color variables */
$clr-primary: #81d4fa;
$clr-primary-hover: #9abfcf;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray350: #c7ccdb;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;

$clr-youtube: #ff0000;

$clr-tertiary: #ff7043;
$clr-tertiary-hover: #29e6a7;
$clr-tertiary-dark: #039d69;

$clr-light: #ffb300;
$clr-med: #e53935;
$clr-dark: #d81b60;
