.slick {
  &-arrow[class] {
    background: #ffffff;
    box-shadow: 0 0 10px #c4c4c4;
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }

  &-prev[class] {
    left: -80px;

    @media (max-width: 767px) {
      left: 0;
      bottom: -25px;
      top: unset;
    }
  }

  &-next[class] {
    right: -80px;

    @media (max-width: 767px) {
      right: 0;
      bottom: -25px;
      top: unset;
    }
  }
}

// reviews slider
.review_slider {
  .slick {
    &-list {
      width: 100%;
      padding: 20px;

      @media (max-width: 767px) {
        width: calc(100% - 10%);
        margin: 0 auto;
      }
    }

    &-track {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -20px;

      .slick-slide {
        flex-basis: 33.333%;
        opacity: 0;
        margin: 0 20px;
      }

      .slick-active {
        opacity: 1;
      }
    }

    &-arrow[class] {
      @media (max-width: 767px) {
        width: 24px;
        height: 24px;
      }
    }

    &-prev[class],
    &-next[class] {
      @media (max-width: 767px) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

// reviews slider
.pricing_slider {
  .slick {
    &-list {
      width: 100%;
      padding: 35px;

      @media (max-width: 767px) {
        width: calc(100% - 10%);
        margin: 0 auto;
      }
    }

    &-track {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -35px;

      .slick-slide {
        flex-basis: 33.333%;
        opacity: 0;
        margin: 0 20px;
      }

      .slick-active {
        opacity: 1;
      }
    }

    &-arrow[class] {
      @media (max-width: 767px) {
        width: 24px;
        height: 24px;
      }
    }

    &-prev[class],
    &-next[class] {
      @media (max-width: 767px) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
