.slick {
  &-arrow[class] {
    background: #fff;
    box-shadow: 0 0 10px #c4c4c4;
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }

  &-prev[class],
  &-next[class] {
    &::before {
      width: 16px;
      height: 28px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      font-family: initial;
      color: transparent;

      @media (max-width: 767px) {
        background-size: 36%;
      }
    }
  }

  &-prev[class] {
    left: -80px;

    @media (max-width: 1024px) {
      left: 0;
      z-index: 9;
    }

    @media (max-width: 767px) {
      left: 0;
      bottom: -25px;
      top: unset;
    }

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.108 1.567 1.676 14l12.432 12.432' stroke='%2303396C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    }
  }

  &-next[class] {
    right: -80px;

    @media (max-width: 1024px) {
      right: 0;
      z-index: 9;
    }

    @media (max-width: 767px) {
      right: 0;
      bottom: -25px;
      top: unset;
    }

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.892 26.433 14.324 14 1.892 1.568' stroke='%2303396C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    }
  }
}

// reviews slider
.review_slider {
  .slick {
    &-list {
      width: 100%;
      padding: 20px;

      @media (max-width: 767px) {
        width: calc(100% - 10%);
        margin: 0 auto;
      }
    }

    &-track {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -20px;

      .slick-slide {
        flex-basis: 33.333%;
        opacity: 0;
        margin: 0 20px;
      }

      .slick-active {
        opacity: 1;
      }
    }

    &-arrow[class] {
      @media (max-width: 767px) {
        width: 24px;
        height: 24px;
      }
    }

    &-prev[class],
    &-next[class] {
      @media (max-width: 767px) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

// reviews slider
.pricing_slider {
  .slick {
    &-list {
      width: 100%;
      padding: 35px;

      @media (max-width: 767px) {
        width: calc(100% - 10%);
        margin: 0 auto;
      }
    }

    &-track {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -35px;

      .slick-slide {
        flex-basis: 33.333%;
        opacity: 0;
        margin: 0 20px;
      }

      .slick-active {
        opacity: 1;
      }
    }

    &-arrow[class] {
      @media (max-width: 767px) {
        width: 24px;
        height: 24px;
      }
    }

    &-prev[class],
    &-next[class] {
      @media (max-width: 767px) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
