.body {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  padding: 6.875rem 0;
  // margin-top: 4.2rem;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding: 2rem 15px 6.875rem;
  }

  @media (max-width: 767px) {
    padding: 1.75rem 0 0;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;

    @media (max-width: 767px) {
      padding: 0 15px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .text {
      @media (max-width: 767px) {
        display: none;
      }
    }

    //second part of content
    .webIcon {
      animation: rotation 60s linear infinite;

      @media (max-width: 767px) {
        margin-bottom: 25px;

        svg {
          width: 313px;
          height: 312px;
        }
      }

      @keyframes rotation {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;

    .mainWave {
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../../../public/wave.svg) repeat-x;
      background-size: cover;
      background-position: -62.5rem 0;
      opacity: 0.2;
      animation: waveOne 60s linear infinite;
    }

    @keyframes waveOne {
      50% {
        background-position: 0 0;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../../../public/wave.svg) repeat-x;
      background-size: cover;
      background-position: 170.75rem 0;
      opacity: 0.3;
      animation: waveOne 120s linear infinite;
    }
  }
}
