//----------------------------------

.body {
  font-family: fantasy;
  overflow-x: hidden;
}

.wrapper {
  margin-top: 6rem;
  position: relative;
  height: 100vh;
  overflow: hidden;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 0;
    .text {
      width: 50%;
      padding-right: 150px;

      p {
        font-size: 28px;
        line-height: 46px;

        span {
          color: #f09053;
        }
      }

      a {
        position: relative;
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        padding: 18px 30px;
        letter-spacing: 2px;
        font-weight: 500;
        margin-top: 60px;

        &:before {
          content: "";
          position: absolute;
          top: 50px;
          left: 20;
          width: 10px;
          height: 10px;
          border-radius: 50px;
          // background-color: #f09053;
          transition: all ease 0.5s;
        }

        &:hover:before {
          width: 80%;
        }
      }
    }

    //second part of content
    .img {
      position: relative;
      width: 500px;
      height: 500px;
      // background: radial-gradient(520px, #03396c, transparent 50%);
      margin-top: -50px;

      .emailIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .socialIcons {
        height: 100%;
        animation: rotation 60s linear infinite;

        @keyframes rotation {
          100% {
            transform: rotate(360deg);
          }
        }

        img {
          position: absolute;

          &:nth-child(1) {
            top: 0;
            left: 42%;
          }
          &:nth-child(2) {
            top: 25%;
            right: 0;
          }
          &:nth-child(3) {
            top: 70%;
            left: 70%;
          }
          &:nth-child(4) {
            top: 25%;
            left: 0;
          }
          &:nth-child(5) {
            top: 70%;
            left: 10%;
          }
        }
      }
    }
  }

  //this is the beneath wave
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;

    .mainWave {
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../../public/wave.svg) repeat-x;
      background-size: cover;
      background-position: -1000px 0;
      opacity: 0.2;
      animation: waveOne 60s linear infinite;
    }

    @keyframes waveOne {
      50% {
        background-position: 0 0;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../../public/wave.svg) repeat-x;
      background-size: cover;
      background-position: 2732px 0;
      opacity: 0.3;
      animation: waveOne 120s linear infinite;
    }
  }
}
