.icon_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  border-radius: 0.625rem;
  border: 1px solid $os-secondary;
  color: #fff;
  padding: 2.56rem 1.56rem 1.56rem;

  &__media {
    display: inline-block;
    svg {
      height: 5rem;
      width: 5rem;
      path {
        fill: white;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  &__dark {
    border: 1px solid #fff;
  }
}
