.nav {
  &__list {
    background: white;
    border-right: 1px solid $clr-gray200;

    padding: 5rem 0;
    width: 5rem;
    height: 100vh;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__item {
    list-style: none;
    font-size: 0.7rem;
    color: $clr-gray400;
    text-align: center;
    transition: all 200ms ease-in;

    svg {
      fill: $clr-gray400;
      width: 2rem;
      transition: all 200ms ease-in;
    }

    a {
      color: $clr-gray400;
      text-decoration: none;
      transition: all 200ms ease-in;
    }

    &Selected {
      svg {
        fill: $os-primary;
      }
      a {
        color: $os-primary;
      }
    }
    &:hover {
      svg {
        width: 2.4rem;
        color: red !important;
      }

      a {
        color: $os-primary;
        font-weight: bold;
      }
    }
  }
}

//mobile view
@media screen and (max-width: 550px) {
  .nav {
    &__list {
      flex-direction: row;
      width: 100%;
      height: 5rem;
      bottom: 0;
      justify-content: space-around;
      align-items: center;
      padding: 0 1rem;
    }
  }
}
