.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  &__table {
    align-self: center;
  }

  &__filters {
    align-self: flex-start;
  }

  &__pagination {
    align-self: flex-end;
  }
}
