.review {
  color: #505050;
  padding: 20px;
  box-shadow: 0 0 20px $clr-graymed;
  border-radius: $border-radius-card;

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 25px;
  }

  &__thumb {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ddd;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: 5px 0;
  }

  &__copy {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
}
