.nav {
  &__list {
    background: white;
    box-shadow: 0 0 10px $clr-graymed;
    padding: 6rem 0;
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media (min-width: 991px) {
      position: fixed;
    }
  }

  &__item {
    list-style: none;
    font-size: 0.7rem;
    color: $clr-gray400;
    text-align: center;
    width: 100%;
    transition: all 200ms ease-in;

    svg {
      path {
        fill: $clr-gray400;
      }
      width: 2rem;
      transition: all 200ms ease-in;
    }

    a {
      text-decoration: none;
      display: block;
    }

    p {
      color: $clr-gray400;
      transition: all 200ms ease-in;
    }

    &Selected {
      position: relative;
      display: inline-block;

      @media screen and (max-width: 991px) {
        padding-top: 5px;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        border-radius: 0.6rem;
        height: 100%;
        width: 0.5rem;
        background-color: $os-primary;
        top: 0;
        left: 0;
        transition: all ease-in-out 250ms;

        @media screen and (max-width: 991px) {
          height: 0.5rem;
          width: 100%;
          top: 0;
          left: 0;
        }
      }
      svg {
        path {
          fill: $os-primary;
        }
        width: 2.4rem;
      }
      p {
        color: $os-primary;
        font-weight: bold;
      }
    }
    &:hover {
      svg {
        path {
          fill: $os-primary;
        }
        width: 2.4rem;
      }

      p {
        color: $os-primary;
        font-weight: bold;
      }
    }
  }

  .prev__btn,
  .next__btn {
    position: relative;
    list-style: none;
    display: none;
    z-index: 9;

    @media (max-width: 767px) {
      display: inline-block;
    }

    a {
      display: inline-block;
      text-decoration: none;
    }
  }

  .prev__btn {
    margin-left: -10px;
  }

  .next__btn {
    margin-right: -10px;
  }
}

//mobile view
@media screen and (max-width: 991px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 0 20px $clr-graymed;
    z-index: 9;

    &__list {
      flex-direction: row;
      width: 100%;
      height: 5rem;
      bottom: 0;
      justify-content: flex-start;
      align-items: center;
      padding: 0 1rem;
      // z-index: 999;
      box-shadow: none;
      gap: 3px;
      overflow: hidden;
      scroll-behavior: smooth;
    }

    &__item {
      flex-basis: calc(100% / 6);
      min-width: calc(100% / 6);
    }
  }
}

@media screen and (max-width: 767px) {
  .nav {
    &__list {
      width: calc(100% - 18%);
    }

    &__item {
      flex-basis: 25%;
      min-width: 25%;
    }
  }
}
