.nav {
  &__list {
    background: white;
    box-shadow: 0px 0px 10px $clr-graymed;

    padding: 5rem 0;
    width: 5rem;
    height: 100vh;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    // overflow-x: scroll;
  }

  &__item {
    list-style: none;
    font-size: 0.7rem;
    color: $clr-gray400;
    text-align: center;
    transition: all 200ms ease-in;

    svg {
      path {
        fill: $clr-gray400;
      }
      width: 2rem;
      transition: all 200ms ease-in;
    }

    a {
      text-decoration: none;
    }

    p {
      color: $clr-gray400;
      transition: all 200ms ease-in;
    }

    &Selected {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        border-radius: 0.6rem;
        height: 4rem;
        width: 100%;
        background-color: $os-primary;
        bottom: -0.8rem;
        right: 3.2rem;
        transition: all ease-in-out 250ms;
        @media screen and (max-width: 550px) {
          height: 0.5rem;
          width: 4rem;
          bottom: 3.1rem;
          left: -0.85rem;
        }
      }
      svg {
        path {
          fill: $os-primary;
        }
        width: 2.4rem;
      }
      p {
        color: $os-primary;
        font-weight: bold;
      }
    }
    &:hover {
      svg {
        path {
          fill: $os-primary;
        }
        width: 2.4rem;
      }

      p {
        color: $os-primary;
        font-weight: bold;
      }
    }
  }
}

//mobile view
@media screen and (max-width: 550px) {
  .nav {
    &__list {
      flex-direction: row;
      width: 100%;
      height: 5rem;
      bottom: 0;
      justify-content: space-around;
      align-items: center;
      padding: 0 1rem;
      z-index: 999;
      box-shadow: 0px 0px 20px $clr-graymed;
    }
  }
}
