@import './shared/fonts'; //added for custom fonts
@import './shared/colors';
@import './shared//variables';

.nav {
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px $clr-gray300;
  height: 100vh;

  &__expand {
    width: 2rem;
    height: 2rem;
    fill: $clr-gray400;
    background-color: white;
    box-shadow: 0 0 10px $clr-gray300;
    border-radius: 50%;
    position: absolute;
    right: -1rem;
    top: 1rem;
    cursor: pointer;
    transform: rotateZ(-180deg);
    transition: transform 200ms ease-in-out;

    &:hover {
      fill: $clr-gray500;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    &item {
      list-style: none;
      transition: all 200ms ease-in;
      padding: 1rem 1.5rem;
      border-left: 6px solid transparent;
      cursor: pointer;

      &:first-child {
        margin-bottom: 2rem;
      }
      &:hover {
        background-color: $clr-gray150;
      }

      a {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: $clr-gray400;
        text-decoration: none;
        font-weight: 500;
      }

      svg {
        fill: $clr-gray400;
        width: 2rem;
      }

      //define colors for the side navs
      &:nth-child(2) {
        svg,
        div {
          color: $clr-youtube;
          fill: $clr-youtube;
        }
      }

      &-active {
        background-color: $clr-gray200;
        border-left: 6px solid $clr-youtube;
      }
    }
  }

  //closed state
  &-closed &__expand {
    transform: rotateZ(0deg);
  }
  &-closed &__listitem div {
    display: none;
  }
}
