.coming_soon {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 20px $clr-graymed;
  border-radius: 6px;

  margin-bottom: 2rem;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  .text {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    &_day,
    &_hour,
    &_minute,
    &_second {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      div {
        font-size: 0.8rem;
        margin: auto;
      }
    }

    .day,
    .hour,
    .minute,
    .second {
      box-shadow: 0 0 20px $clr-graymed;
      border-radius: 6px;
      padding: 1rem;
      background-color: $os-primary;
      color: $os-secondary-theme;
    }
  }
}
