.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 10px #e1e5ee;
  overflow: hidden;

  .thead {
    box-shadow: 0 5px 10px #e1e5ee;
  }

  .caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }
  .tr {
    border: 1px solid #e1e5ee;
    padding: 0.35em;
  }
  .th {
    padding: 1rem 2rem;
    text-align: center;

    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 900;
  }
  .td {
    padding: 1rem 2rem;
    text-align: center;

    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;
    .caption {
      font-size: 1.3em;
    }
    .thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
    .td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
    .td::before {
      /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    .td:last-child {
      border-bottom: 0;
    }
  }
}
