*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  // font-family: 'Benne', serif;
  font-family: 'Montserrat', 'Helvetica'; //added for custom font from public
  color: $clr-gray500;
  // background-color: $clr-gray100;
}
