*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Montserrat', 'Helvetica';
  color: $clr-gray500;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@import './shared/utilities';
@import './shared/button';
@import './shared/react-modal';
@import './shared/slick';
