.pricing_wrap {
  position: relative;
  padding-bottom: 85px;

  @media (max-width: 1024px) {
    padding: 2rem 15px;
  }

  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  &__inner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }

  .wrapper {
    counter-reset: number;
    // display: flex;
    // justify-content: center;

    // @media (max-width: 767px) {
    //   flex-direction: column;
    // }
  }

  .container {
    box-shadow: 0 0 20px $clr-graymed;
    border-radius: $border-radius-card;
    padding: 2rem;
    width: 100%;
    // margin: 0 0.5rem 4rem;
    background: white;
    text-align: center;
    position: relative;

    &:hover {
      box-shadow: 0px 00px 20px #49789b;
      outline: 2px solid #49789b;
    }

    @media (max-width: 767px) {
      border: 2px solid #49789b;
      box-shadow: 0 0 10px #c4c4c4;
    }

    li {
      list-style: none;
      padding: 0.5rem;
    }
  }

  .container::before {
    width: 4rem;
    height: 4rem;
    background: $os-secondary;
    position: absolute;
    display: block;
    border-radius: 50%;
    top: -2rem;
    left: 7.4rem;
    font-size: 3rem;
    color: white;
    // font-weight: bold;
    line-height: 3rem;
  }

  .title {
    margin: 2rem 0 1rem 0;
  }
}
