.heading {
  margin-bottom: 60px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  &__title {
    color: $os-primary;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.229em;
    margin-bottom: 20px;
    display: inline-block;

    @media (max-width: 767px) {
      font-size: 1.875rem;
    }
  }

  &__subtitle {
  }

  &__dark[class] {
    .heading__title {
      color: #fff !important;
    }
  }
}
