.container {
  display: flex;

  &__element {
    display: flex;
    margin-top: 5rem;
    margin-left: 5rem;
    width: 100%;

    @media screen and (max-width: 991px) {
      margin-left: 0;
    }
  }
}

//mobile view
@media screen and (max-width: 767px) {
  .container {
    &__element {
      margin: 5rem 0;
      flex-direction: column;
      padding: 0 15px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    &__element {
      flex-direction: column;
      align-items: center;
    }
  }
}
