.nav {
  // background-color: white;
  // border: 1px solid $clr-gray300;
  overflow: hidden;
  // padding: 0.5rem;
  border-radius: 5px;
  width: 100%;

  .list {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    .listitem {
      position: relative;
      display: flex;
      align-items: center;
      color: #8f8f8f;
      list-style: none;
      padding: 11px 25px;
      border-top: 5px solid transparent;
      border-radius: 4px 4px 0 0;
      cursor: pointer;
      min-width: 200px;

      // &::before {
      //   content: '';
      //   width: 3rem;
      //   height: 3rem;
      //   background-color: $clr-secondary-hover;
      //   display: block;
      //   border-radius: 50%;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   transition: transform 400ms $animation;
      //   transform: scale(0);
      //   z-index: 1;
      // }

      svg {
        fill: $clr-gray400;
        width: 2rem;
        z-index: 1;
        position: relative;
        margin-right: 20px;
      }

      // &:hover svg {
      //   fill: $clr-secondary;
      // }

      &.active {
        background: #fff;
        border-color: $os-secondary;

        svg {
          fill: $clr-secondary;
        }

        &::before {
          transform: scale(1);
        }
      }
    }
  }
}
