.nav {
  overflow: hidden;
  border-radius: 5px;
  width: 100%;

  .list {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    .listitem {
      position: relative;
      display: flex;
      align-items: center;
      color: #8f8f8f;
      list-style: none;
      padding: 11px 25px;
      border-top: 5px solid transparent;
      border-radius: 4px 4px 0 0;
      cursor: pointer;
      min-width: 200px;

      svg {
        fill: $clr-gray400;
        width: 2rem;
        z-index: 1;
        position: relative;
        margin-right: 20px;
      }

      &.active {
        background: #fff;
        border-color: #03396c;

        &::before {
          transform: scale(1);
        }
      }
    }
  }
}
